button,
.go-to-recipe {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgb(41, 192, 127);
  color: #f3f3f3;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-decoration: none; /* added for .go-to-recipe */
  display: flex; /* added for .go-to-recipe */
  justify-content: center; /* added for .go-to-recipe */
  align-items: center; /* added for .go-to-recipe */
}

button:hover,
.go-to-recipe:hover {
  background-color: rgb(41, 192, 127);
  cursor: pointer;
}

.nutrients ul {
  display: flex;
  width: 35rem;
  justify-content: space-evenly;
}

.meals {
  display: flex;
  flex-direction: column; /* added to ensure alignment on smaller screens */
  align-items: center; /* added to ensure alignment on smaller screens */
}

.instructions {
  font-size: large;
  margin-bottom: 20px;
}

.meal-title {
  padding-top: 50px;
  font-size: x-large;
  padding-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
  .meals {
    flex-direction: column;
    align-items: center;
  }

  .nutrients ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .go-to-recipe {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: rgb(41, 192, 127);
    color: #f3f3f3;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
