.login-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
    padding-left: 50px;
    background-color: #fcffff;
}
.login-form-section {
    width: 50%;
    padding: 60px;
    border-left: 2px solid rgb(94, 203, 156);
}
.login-info-section {
    width: 50%;
    padding: 20px;
    text-align: center;
}
  form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .login-account-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:  rgb(41, 192, 127);
    color: white;
  }
  .login-account-btn:hover {
    background-color:  rgb(33, 138, 93);
  }
  .sign-up-link {
    text-align: center;
    margin-top: 20px;
  }
  .login-header-text {
    font-size: xx-large;
    padding-top: 108px;
    padding-bottom: 20px;
  }
  .login-subtext {
    font-size: large;
  }  